<!DOCTYPE html>
<html>
<head>
  <title>Timeline</title>
  <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
    $(function() {
      $('a[href="#menu"], a[href="#page"]').click(function(e) {
        e.stopImmediatePropagation();
        e.preventDefault();
        $('nav#menu').trigger('toggle.mm');
      });
      $('nav#menu').mmenu();
    })
  </script>
</head>
<body>
  <div id="page">
    <nav id="menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About us</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </nav>
    <div id="header">
      <a href="#menu"></a>
      Header
    </div>
    <div id="main">
      <div id="sidebar">
        <p>This is content</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div id="content">
        <div id="center">
          <%= yield %>
        </div>
        <div id="right">
					<p>This is content</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
    <div id="footer"></div>
</body>
</html>
