<!DOCTYPE html>
<html>
<head>
  <title>Timeline</title>
  <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
    $(function() {
      $('a[href="#menu"], a[href="#page"]').click(function(e) {
        e.stopImmediatePropagation();
        e.preventDefault();
        $('nav#menu').trigger('toggle.mm');
      });
      $('nav#menu').mmenu();
    })
  </script>
</head>
<body>
  <div id="page">
    <nav id="menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About us</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </nav>
    <div id="header">
      <a href="#menu"></a>
      Header
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
